<div class="fullwidth fullheight leftnavbar" style="overflow-y: scroll">
  <div class="flexbox logoimage" style="height: 28%">
    <img
      src="./img/knowledgeville_nobackground.png"
      style="width: 140px; height: auto" />
  </div>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      checked="checked"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/dashboard');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="home-outline"></ion-icon>
      <p>Home</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/addadmin');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="person-add-outline"></ion-icon>
      <p>Add Admin</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/addstaff');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="person-add-outline"></ion-icon>
      <p>Add Staff</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/audittrail');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="clipboard-outline"></ion-icon>
      <p>Audit Trail</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/managestudent');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <p>Manage Student</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/curriculum');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="school-outline"></ion-icon>
      <p>Curriculum</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/manageuseraccess');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="desktop-outline"></ion-icon>
      <p>Manage User Access</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/registrar');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="person-outline"></ion-icon>
      <p>Registrar</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/accounting');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="calculator-outline"></ion-icon>
      <p>Accounting</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/cashier');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="card-outline"></ion-icon>
      <p>Cashier</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/enlistment');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="person-circle-outline"></ion-icon>
      <p>Enlistment</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/reports');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <p>Reports</p>
    </div>
  </label>

  <label class="flexbox flexdirec-row">
    <input
      type="radio"
      name="sidenav1"
      class="sidenavbtn1"
      onclick="includehtml('superadminpage', 'app/pages/logyearspan');" />
    <div class="fullwidth flexbox flexdirec-row sidenavdes1">
      <ion-icon name="calendar-outline"></ion-icon>
      <p>Log Year Span</p>
    </div>
  </label>
</div>
