<div class="fullwidth fullheight flexbox">
  <div class="modaladdstaff_editmoduleaccess modal-content">
    <div class="modal-header">
      <span
        class="close"
        onclick="
          closemodal('1ststackmodalid')
          "
        >&times;</span
      >
      <h3>Staff Module Access</h3>
    </div>
    <div class="modal-body fullwidth fullheight">
      <h4>Positions</h4>
      <div
        class="fullwidth"
        style="height: 20%"
        id="addstaffmodalmodulepositiondivlist">
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid1">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid1" />
            <div class="checkbox__box"></div>
            Registrar
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid2">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid2" />
            <div class="checkbox__box"></div>
            Accounting
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid3">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid3" />
            <div class="checkbox__box"></div>
            Cashier
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid4">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid4" />
            <div class="checkbox__box"></div>
            Enlistment
          </label>
        </div>
      </div>
      <h4>Other Modules</h4>
      <div
        class="fullwidth"
        style="height: 48%"
        id="addstaffmodalmoduleotherdivlist">
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid5">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid5" />
            <div class="checkbox__box"></div>
            Audit Trail
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid6">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid6" />
            <div class="checkbox__box"></div>
            Manage Student
          </label>
        </div>
        <div class="fullwidth">
          <label class="checkbox1" for="addstaffcheckboxid7">
            <input
              class="checkbox__input"
              type="checkbox"
              name="mycheckboxname"
              id="addstaffcheckboxid7" />
            <div class="checkbox__box"></div>
            Reports
          </label>
        </div>
        <h4>School Level</h4>
        <div class="fullwidth">
          <select
            class="dropdowndes1"
            id="addstaffschoollevel"
            onchange="addnewstaffvar.displayspecificyearlevel()"></select>
        </div>
        <h4>Year Level</h4>
        <div class="fullwidth">
          <select
            class="dropdowndes1"
            id="addstaffyearlevel"
            onchange="addnewstaffvar.displayspecificsection()"></select>
        </div>
        <h4>Section</h4>
        <div class="fullwidth">
          <select class="dropdowndes1" id="addstaffsection"></select>
        </div>
        <h4>Accessibility</h4>
        <div class="fullwidth">
          <select class="dropdowndes1" id="addstaffaccessibility">
            <option>all for one</option>
            <option>staffs only</option>
            <option>specific user</option>
          </select>
        </div>
      </div>
      <div class="fullwidth flexbox" style="margin-top: 10px">
        <button class="btndes4" onclick="addnewstaffvar.loadmodule()">
          SAVE
        </button>
      </div>
    </div>
  </div>
</div>
<script>
  addnewstaffvar.displayallcurriculum();
</script>
